#Layer_1 {
  position: fixed; /* Sit on top of the page content */
    width: 800px;
    height: 800px;
    top: 0;
    left: 400px;
    right: 0;
    bottom: 0;
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}

#fig1 {
  position: fixed; /* Sit on top of the page content */
  opacity: 0;
    width: 800px;
    height: 800px;
    top: 0;
    left: 400px;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#fig1:hover {
  animation-name: opacity;
  animation-duration: 3s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@keyframes opacity {
  0% {
    opacity: 0;
    }
  100% {
    opacity: 1;
    }

}

#fig2 {
  position: fixed; /* Sit on top of the page content */
  opacity: 0;
    width: 800px;
    height: 800px;
    top: 0;
    left: 400px;
    right: 0;
    bottom: 0;
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
}

#fig2:hover {
  animation-name: opacity;
  animation-duration: 3s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@keyframes opacity {
  0% {
    opacity: 0;
    }
  100% {
    opacity: 1;
    }

  }
}
